<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/hellos">Hellos</a></li>
	        		<li><a href="/meetups">Meetups</a></li>
	        		<li><a href="/resources">Resources</a></li>
             			<li><a href="/content">Content</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ahundredhellos@gmail.com">email</a></li>
				<li><a href="http://ahundredhellos.com/subscribe/index.html">subscribe</a></li>
				</ul>
			</footer>
		</body>
	</html>
